<style>*,h1{color:white;}</style>
<table>
  <tr>
    <th>Artist</th>
    <th>Name</th>
    <th>Source</th>
    <th>Sourceid</th>
    <th>Album</th>
    <th>Headliner</th>
  </tr>
  <tr>
    <td><%= @track.artist %></td>
    <td><%= @track.name %></td>
    <td><%= @track.source %></td>
    <td><%= @track.sourceid %></td>
    <td><%= @track.album %></td>
    <td><%= @track.headliner %></td>
  </tr>
</table>
<%= link_to 'Back', event_tracks_path(@event) %>
