<table>
  <tr>
    <th>Source</th>
    <th>Sourceid</th>
    <th>Name</th>
    <th>Album</th>
    <th>Artist</th>
    <th>event_id</th>
  </tr>
  <tr>
    <td><%= @track.source %></td>
    <td><%= @track.sourceid %></td>
    <td><%= @track.name %></td>
    <td><%= @track.album %></td>
    <td><%= @track.artist %></td>
    <td><%= @track.event_id %></td>
  </tr>
</table>
<%= link_to 'Back', event_tracks_path(@event) %>
