<span style="display:none">
  <%= @playlist.to_json %>
</span>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div id="progressBar" class="navbar-progress"></div>
    <div class="container">
      <ul class="pull-left playback-controls">
        <li><a id="playPauseToggleButton" class="playback-button playback-play" href="#"></a></li>
        <li><a id="nextTrackButton" class="playback-button playback-skip" href="#"></a></li>
      </ul>
      <div class="playback-info">
        <p class="playback-name">
          <span id="artistName" class="playback-artist">Artist Name</span>
          <span id="songTitle" class="playback-song">Song Name</span>
        </p>
        <p class="playback-event">
          <span id="venueName" class="playback-venue">Venue Name </span>
          <span class="playback-time">9:00PM</span>
        </p>
      </div>
      <a class="brand" href="#"></a>
      </div>
  </div>
</div>

<% @trackIndex = 0; %>

<div id="main" class="container">
  <div class="span12 time-divider">
    <h4 class="pull-left">
      <i class="icon-arrow-up icon-white"></i> Click play to start listening to artists performing in Seattle
      <% if (params[:displayed_date] == params[:todays_date]) %>
        <span> today.</span>
      <% else %>
         <span> tomorrow.</span>
      <% end %>
    </h4>
  </div>
  <% @playlist.each do |event| %>
    <div class="row-fluid">
      <div class="span12 event">
      <div class="row-fluid">
      <div class="span8 artists">
      <ul class="artist-list">
        <% event['tracks'].each do |track| %>
          <span style="position:absolute;left:-5000px;">
          <!-- span -->
            <div id="player<%= @trackIndex %>"></div>
          </span>
          <li class="artist" id="track<%= @trackIndex.to_s %>Artist">
            <a id="track<%= @trackIndex.to_s %>PlayPauseToggleButton" data-type="toggle-play" class="small-playback-button small-playback-play"></a>
            <h4 class="artist-name"><%= track['artist'] %></h4>
            <h4 class="artist-song"><%= track['song_title'] %></h4>
          </li>
          <% @trackIndex = @trackIndex + 1; %>
        <% end %>
      </ul>
      </div>
      <div class="span4 venue">
      <h4 class=""><%= event['venue'] %></h4>
      <p><%= event['opentime'] %><i class="icon-time"></i></p>
      <p><a>Buy Tickets</a> <i class="icon-shopping-cart"></i></p>
      <p><%= link_to "Directions", "http://maps.google.com/?q=#{URI.escape(event['fulladdress'])}", :target => "_blank" %> <i class="icon-map-marker"></i></p>
      </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
        <a class="nextday nav-btn btn" href=<%= '/' + (params[:displayed_datetime]+1.days).strftime("%m/%d/%Y") %>>Next<i class="icon-arrow-right icon-white"></i></a>
        <a class="prevday nav-btn btn" href=<%= '/' + (params[:displayed_datetime]-1.days).strftime("%m/%d/%Y") %>><i class="icon-arrow-left icon-white"></i>Previous</a>
        <div class="date display"><%= params[:displayed_datetime].strftime("%A %B #{params[:displayed_datetime].day.ordinalize}, %Y") %></a>
  </div>
</div>

<!-- Initialize the Playback controls -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

<script>
  var events = <%= @playlist.to_json.html_safe %>;

  // Create a slightly different data structure with just a list of tracks (it's easier for playback purposes)
  var tracks = [];
  for (var eventIndex = 0; eventIndex < events.length; eventIndex++) {
    var e = events[eventIndex];
    for (var trackIndex = 0; trackIndex < e.tracks.length; trackIndex++) {
      var t = e.tracks[trackIndex];
      t.venue = e.venue;
      tracks.push(t);
    }
  }

  var tracklistController = createTracklistController(tracks);
</script>
