<span style="display:none">
  <%= @playlist.to_json %>
</span>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="navbar-progress"></div>
  	<div class="container">
      <ul class="pull-left playback-controls">
        <li><a class="playback-button playback-play" href="#"></a></li>
        <li><a class="playback-button playback-skip" href="#"></a></li>
      </ul>
      <div class="playback-info">
        <p class="playback-name"><span class="playback-artist">Artist Name <span class="playback-song">Song Name</span></p>
        <p class="playback-event"><span class="playback-venue">Venue Name </span><span class="playback-time">9:00PM</span></p>
      </div>
      <a class="brand" href="#"></a>
	</div>
  </div>
</div>

<div id="main" class="container">
<<<<<<< HEAD
  <% @playlist.each do |e| %>
    <%= render 'event', :event_data => e %>
=======
  <% @playlist.each do |event| %>
    <div class="row-fluid">
      <div class="span12 time-divider"></div>
      <div class="span12 event">
      <div class="row-fluid">
      <div class="span6 artists">
      <ul class="artist-list">
        <% event['tracks'].each do |track| %>
          <li class="artist">
            <a data-type="toggle-play" class="small-playback-button small-playback-play"><i class="icon-play"></i></a>
            <h4 class="artist-name"><%= track['artist'] %></h4>
            <h4 class="artist-song"><%= track['song_title'] %></h4>
          </li>
        <% end %>
      </ul>
      </div>
      <div class="span6 venue">
      <h5 class=""><%= event['venue'] %></h5>
      <p>9:00pm Tonight</p>
      <p>Buy Tickets</p>
      <p>Directions</p>
      </div>
      </div>
    </div>
  </div>
>>>>>>> 7e614a6ba89f384fa9ae0244a45fa8295fdade5d
  <% end %>
</div>