<style>*,h1{color:white;}</style>
<p id="notice"><%= notice %></p>

<%= link_to 'Tracks', event_tracks_path(@event) %>

<p>
  <b>Venue:</b>
  <%= @event.venue %>
</p>

<p>
  <b>Streetaddress:</b>
  <%= @event.streetaddress %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @event.zip %>
</p>

<p>
  <b>Fulladdress:</b>
  <%= @event.fulladdress %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Skbuyurl:</b>
  <%= @event.skbuyurl%>
</p>

<p>
  <b>Additional Details:</b>
  <%= @event.additionaldetails %>
</p>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
