<style>*,h1{color:white;}</style>
<p id="notice"><%= notice %></p>

<%= link_to 'Tracks', event_tracks_path(@event) %>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Skbuyurl:</b>
  <%= @event.skbuyurl%>
</p>

<p>
  <b>Additional Details:</b>
  <%= @event.additionaldetails %>
</p>

<p>
  <b>Venue_id:</b>
  <%= @event.venue_id %>
</p>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
