<style>*,h1{color:white;}</style>
<h1>Listing venues</h1>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Streetaddress</th>
    <th>City</th>
    <th>Zip</th>
    <th>Fulladdress</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.id %></td>
    <td><%= venue.name %></td>
    <td><%= venue.streetaddress %></td>
    <td><%= venue.city %></td>
    <td><%= venue.zip %></td>
    <td><%= venue.fulladdress %></td>
    <td><%= venue.url %></td>
    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>
